numpy==2.2.3
beautifulsoup4==4.11.2
pandas==2.2.3
dateparser==1.1.7
html5lib==1.1
PyPDF2==2.12.1
opencv-python==4.5.5.64
camelot-py[base]==1.0.0
pypdfium2==4.30.1
pydantic[dotenv]==1.10.4
Pillow==11.1.0
yarl==1.8.2
aiohttp==3.8.4